<a href="https://colab.research.google.com/github/Gopikrishnamopuri/Tools-for-data-science/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Tolls for data science

In [ ]:
introduction to sql

In [ ]:
Python.
R.
SQL.
Java.
Julia.
Scala.
C/C++
JavaScript

In [ ]:
TensorFlow
NumPy
SciPy 
Pandas
Matplotlib 
Keras
SciKit-Learn
PyTorch

In [ ]:
 Statistical Analysis System (SAS)
Apache Hadoop
Tableau
TensorFlow
BigML
Knime
RapidMiner
Excel

In [ ]:
5 -- a number is an arithmetic expression.
(3 + 4) -- the sum of numbers is an arithmetic expression.
(7 - 3) -- the difference of two numbers is an arithmetic expression.
(2 5), 2 5 -- a product of two numbers is an arithmetic expression.

In [16]:
a = 10
b = 20
print(a+b)
print(a*b)

30
200

In [17]:
def convert(seconds):
  seconds = seconds %(24*3600)
  hour = seconds//3600
  seconds %= 3600
  minutes = seconds//60
  seconds %= 60
  return "%d:%02d:%02d" % (hour, minutes, seconds)
n = 12345
print(convert(n))

3:25:45

In [18]:
3 + 4

7

In [ ]:
JHON TUKEY